
fastapi
uvicorn[standard]
streamlit
requests
python-dotenv
pydantic

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-classic
langchain-openai
langchain-huggingface
langchain-qdrant

langgraph

qdrant-client

sentence-transformers
torch==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

pypdf
unstructured
python-docx

pandas
numpy